/* ---------- import abstract folders ----------- */
@import "./abstracts/_variable.css";

/* ------------ import base folder ------------ */
@import "tailwindcss/base";
@import "./base/_base.css";
@import "./base/_typography.css";

/* ---------- import component folder ---------- */
@import "tailwindcss/components";

/* ----------- import utilities folder ---------- */
@import "tailwindcss/utilities";
@import "./utils/helper.css";

/* ----------- react mansory slider ---------- */
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

/* Hide scrollbar but allow scroll/swipe */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE + Edge */
  scrollbar-width: none;     /* Firefox */
}