:root {
  font-size: 16px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* ------- rduce font size on tab screens ------- */
/* @media screen and (max-width: 768px) {
  :root {
    font-size: 14px;
  }
} */
