.wrapper {
  @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 items-center bg-white border border-jolo-grey-300 rounded-2xl;
}

.wrapper > div {
  @apply transition h-[360px] w-auto rounded-none bg-none shadow-none;
}

.wrapper > div:nth-child(1),
.wrapper > div:nth-child(4) {
  @apply rounded-tl-2xl;
}

.wrapper > div:nth-child(3),
.wrapper > div:nth-child(6) {
  @apply rounded-tr-2xl;
}

.wrapper > div:not(:nth-child(6)) {
  @apply border-b-[1px] sm:border-b-0 border-jolo-grey-300;
}

.wrapper > div:nth-child(1),
.wrapper > div:nth-child(2),
.wrapper > div:nth-child(3) {
  @apply sm:border-b-[1px] border-jolo-grey-300;
}

.wrapper > div:nth-child(2),
.wrapper > div:nth-child(3),
.wrapper > div:nth-child(5),
.wrapper > div:nth-child(6) {
  @apply sm:border-l-[1px] border-jolo-grey-300 border-solid;
}

.wrapper > div:nth-child(3) {
  @apply md:border-l-0 lg:border-l md:border-r lg:border-r-0 md:rounded-tr-none;
}

.wrapper > div:nth-child(5) {
  @apply md:border-l-0 lg:border-l;
}

.wrapper > div:nth-child(4) {
  @apply md:border-b lg:border-b-0;
}
