
.wrapper {
  @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 items-center bg-white border border-jolo-grey-300 rounded-2xl;
}

.wrapper > div {
  @apply transition h-[360px] w-auto rounded-none bg-none shadow-none border border-jolo-grey-300 border-t-0 border-l-0;
}

.wrapper > div:nth-child(1),
.wrapper > div:nth-child(2),
.wrapper > div:nth-child(3) {
  @apply border-t-[1px];
}

.wrapper > div:nth-child(1),
.wrapper > div:nth-child(3),
.wrapper > div:nth-child(5) {
  @apply border-l-[1px];
}

.wrapper > div:nth-child(1) {
  @apply rounded-tl-2xl;
}
.wrapper > div:nth-child(2) {
  @apply sm:rounded-tr-2xl lg:rounded-none;
}
.wrapper > div:nth-child(3) {
  @apply lg:rounded-tr-2xl;
}
.wrapper > div:nth-child(5) {
  @apply lg:rounded-bl-2xl;
}
.wrapper > div:nth-child(6) {
  @apply rounded-br-2xl;
}
